<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>controller.RegServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicServlet</servlet-name>
        <servlet-class>controller.TopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContentServlet</servlet-name>
        <servlet-class>controller.ContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyContentServlet</servlet-name>
        <servlet-class>controller.ReplyContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReplyServlet</servlet-name>
        <servlet-class>controller.ReplyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/RegServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicServlet</servlet-name>
        <url-pattern>/TopicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContentServlet</servlet-name>
        <url-pattern>/ContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyContentServlet</servlet-name>
        <url-pattern>/ReplyContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReplyServlet</servlet-name>
        <url-pattern>/ReplyServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
